<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<div th:fragment="main-nav(activeMenu)">
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
        <div class="container">
            <a class="navbar-brand fw-bold" href="/dashboard">
                <i class="fas fa-store"></i> Dorixona
            </a>


            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto me-3">

                    <li class="nav-item">
                        <a class="nav-link"
                           th:attrappend="class=${activeMenu == 'category'} ? ' active' : ''"
                           href="/category">Kategoriyalar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           th:classappend="${activeMenu == 'medicine'} ? ' active' : ''"
                           href="/medicine">Dorilar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           th:classappend="${activeMenu == 'sale'} ? ' active' : ''"
                           href="/sale">Savdo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           th:classappend="${activeMenu == 'user'} ? ' active' : ''"
                           href="/user">Foydalanuvchilar</a>
                    </li>
                </ul>

                <form th:action="@{/logout}" method="post" class="d-flex">
                    <button type="submit" class="btn btn-outline-light rounded-pill px-3">
                        <i class="fas fa-sign-out-alt"></i> Chiqish
                    </button>
                </form>
            </div>
        </div>
    </nav>
</div>

</body>
</html>